.jumbotron-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 80%;
    text-align: center;
    align-content: center;
    align-items: center;
}

.post > p, .post > h1 {
    text-align: center;
    align-content: center;
    align-items: center;
}

.post > p {
    border: 1px blue solid;
    border-radius: 20px;
}

.post {
    padding-top: 20px;
    padding-bottom: 20px;
}

html {
    background-color: rgb(58, 53, 53);
}