.jumbotron-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 80%;
    text-align: center;
    align-content: center;
    align-items: center;
}

.post > h1 {
    padding-top: 40px;
}

.post > p, .post > h1 {
    text-align: center;
    align-content: center;
    align-items: center;
}